<template>
    <header>
        <nav>
            <h1><router-link to="/"> Trouver un coach </router-link></h1>
            <ul>
                <li>
                    <base-button link to="/coaches">Tous les coachs</base-button>
                    <base-button link to="/requests">Demandes</base-button>
                </li>
            </ul>
        </nav>
    </header>
</template>
<style scoped>
header {
  width: 100%;
  height: 5rem;
  background-color: #FDCEB9;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #444444;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}
a:active,
a:hover,
a.router-link-active {
  border: 1px solid transparent;
}

h1 {
  margin: 0;
}

h1 a {
  color: #444444;
  margin: 0;
}

h1 a:hover,
h1 a:active,
h1 a.router-link-active {
  border-color: transparent;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 0.5rem;
}
</style>