<template>
  <form @submit.prevent="submitForm">
    <div class="form-control">
        <p v-if="!formIsValid" class="errors">S'il vous plait veuillez vérifer votre email soit valide et que votre message ne soit pas vide.</p>
      <label for="email">Email</label>
      <input v-model.trim="email" type="email" name="email" id="email" />
    </div>
    <div class="form-control">
      <label for="message">Message</label>
      <textarea v-model.trim="message" name="message" id="message" rows="10"></textarea>
    </div>
    <div class="actions">
      <base-button>Envoyer le message</base-button>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      message: '',
      formIsValid: true
    };
  },
  methods: {
    submitForm() {
      this.formIsValid = true;
      if (this.email === '' || this.message === '') {
        this.formIsValid = false;
        return;
      }
      this.$store.dispatch('requests/contactCoach', {
          coachId: this.$route.params.id,
          email: this.email,
          message: this.message,
      });
      this.$router.replace('/coaches');
    },
  },
};
</script>

<style scoped>
form {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  color: red;
}

.actions {
  text-align: center;
}
</style>