<template>
  <section>
    <base-card>
      <header><h2>Demandes reçues</h2></header>
      <ul v-if="hasRequests">
          <request-item 
          v-for="req in requestsReceived" 
          :key="req.id"
          :email="req.userEmail"
          :message="req.userMessage"
          :coachId="req.coachId"></request-item>
      </ul>
      <h3 v-else>Vous n'avez pas encore reçu de demandes</h3>
    </base-card>
  </section>
</template>

<script>
import RequestItem from '../../components/request/RequestItem.vue';
export default {
  components: {
    RequestItem,
  },
  computed: {
    requestsReceived() {
      return this.$store.getters['requests/requests'];
    },
    hasRequests() {
      return this.$store.getters['requests/hasRequests'];
    },
  },
};
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>