<template>
  <base-card>
    <h2>Trouve ton coach</h2>
    <span class="filter-option">
      <input type="checkbox" id="firstSkill" checked @change="setFilter" />
      <label for="firstSkill">Fitness</label>
    </span>
    <span class="filter-option">
      <input type="checkbox" id="secondSkill" checked @change="setFilter" />
      <label for="secondSkill">Street Workout</label>
    </span>
    <span class="filter-option">
      <input type="checkbox" id="thirdSkill" checked @change="setFilter" />
      <label for="thirdSkill">Nutrition</label>
    </span>
  </base-card>
</template>

<script>
export default {
  emits: ['change-filter'],
  data() {
    return {
      filters: { firstSkill: true, secondSkill: true, thirdSkill: true },
    };
  },
  methods: {
    setFilter(event) {
      const inputId = event.target.id;
      const isCheked = event.target.checked;
      const updatedFilters = {
        ...this.filters,
        [inputId]: isCheked,
      };
      this.filters = updatedFilters;
      this.$emit('change-filter', updatedFilters);
    },
  },
};
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
</style>