<template>
  <section>
    <form @submit.prevent="submitForm">
      <p v-if="!formIsValid" class="textError">
        S'il vous plait veuillez vérifier que vos réponses soient valides avant
        d'enregistrer le formulaire !
      </p>
      <div class="form-control" :class="{ invalid: !firstName.isValid }">
        <label for="firstname">Prénom</label>
        <input
          v-model="firstName.val"
          @blur="clearValidity('firstName')"
          type="text"
          name="firstname"
          id="firstname"
        />
      </div>
      <div class="form-control" :class="{ invalid: !lastName.isValid }">
        <label for="lastname">Nom</label>
        <input
          v-model="lastName.val"
          @blur="clearValidity('lastName')"
          type="text"
          name="lastname"
          id="lastname"
        />
      </div>
      <div class="form-control" :class="{ invalid: !description.isValid }">
        <label for="description">Description</label>
        <textarea
          v-model="description.val"
          @blur="clearValidity('description')"
          type="text"
          rows="5"
          name="description"
          id="description"
        />
      </div>
      <div class="form-control" :class="{ invalid: !rate.isValid }">
        <label for="rate">Taux horaire</label>
        <input
          v-model="rate.val"
          @blur="clearValidity('rate')"
          type="number"
          name="rate"
          id="rate"
        />
      </div>
      <div class="form-control" :class="{ invalid: !areas.isValid }">
        <h3>Domaines d'expertise</h3>
        <div>
          <input
            v-model="areas.val"
            @blur="clearValidity('areas')"
            type="checkbox"
            id="firstSkill"
            value="fitness"
          />
          <label for="firstSkill">Fitness</label>
        </div>
        <div>
          <input
            v-model="areas.val"
            @blur="clearValidity('areas')"
            type="checkbox"
            id="secondSkill"
            value="street workout"
          />
          <label for="secondSkill">Street Workout</label>
        </div>
        <div>
          <input
            v-model="areas.val"
            @blur="clearValidity('areas')"
            type="checkbox"
            id="thirdSkill"
            value="nutrition"
          />
          <label for="thirdSkill">Nutrition</label>
        </div>
      </div>
      <base-button>Enregistrer</base-button>
    </form>
  </section>
</template>

<script>
export default {
  emits: ['save-data'],
  data() {
    return {
      firstName: {
        val: '',
        isValid: true,
      },
      lastName: {
        val: '',
        isValid: true,
      },
      description: {
        val: '',
        isValid: true,
      },
      rate: {
        val: null,
        isValid: true,
      },
      areas: {
        val: [],
        isValid: true,
      },
      formIsValid: true,
    };
  },
  methods: {
    clearValidity(input) {
      this[input].isValid = true;
    },
    validateForm() {
      this.formIsValid = true;
      if (this.firstName.val === '') {
        this.firstName.isValid = false;
        this.formIsValid = false;
      }
      if (this.lastName.val === '') {
        this.lastName.isValid = false;
        this.formIsValid = false;
      }
      if (this.description.val === '') {
        this.description.isValid = false;
        this.formIsValid = false;
      }
      if (!this.rate.val || this.rate.val < 0) {
        this.rate.isValid = false;
        this.formIsValid = false;
      }
      if (this.areas.val.length === 0) {
        this.areas.isValid = false;
        this.formIsValid = false;
      }
    },
    submitForm() {
      this.validateForm();
      if (!this.formIsValid) {
        return;
      }
      const formData = {
        first: this.firstName.val,
        last: this.lastName.val,
        desc: this.description.val,
        rate: this.rate.val,
        areas: this.areas.val,
      };
      this.$emit('save-data', formData);
    },
  },
};
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #ffdfd0;
  outline: none;
  border-color: #fdceb9;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #ffdfd0 solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label,
.invalid h3,
.textError {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>