<template>
  <button v-if="!link" :class="mode">
    <slot></slot>
  </button>
  <router-link v-else :to="to" :class="mode">
    <slot></slot>
  </router-link>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      required: false,
      default: null,
    },
    link: {
      type: Boolean,
      required: false,
      default: false,
    },
    to: {
      type: String,
      required: false,
      default: '/',
    },
  },
};
</script>

<style scoped>

/*:root {
    --main-color: #FDCEB9;
    --hover-color: #ffdfd0;
    --border-color: #444444;
}
*/
button,
a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font: inherit;
  background-color: #FDCEB9;
  border: 1px solid #444444;
  color: #444444;
  cursor: pointer;
  border-radius: 30px;
  margin-right: 0.5rem;
  display: inline-block;
}

a:hover,
a:active,
button:hover,
button:active {
  background-color: #ffdfd0;
  border-color: #444444;
}

.flat {
  background-color: transparent;
  color: #FDCEB9;
  border: none;
}

.outline {
  background-color: transparent;
  border-color: #444444;
  color: #444444;
}

.flat:hover,
.flat:active,
.outline:hover,
.outline:active {
  background-color: #ffdfd0;
}
</style>