<template>
    <span class="badge" :class="type">
        {{ text }}
    </span>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            required: true
        },
        title: {
            type: String, 
            required: true
        }
    },
    computed: {
        text(){
            return this.title.toUpperCase();
        }
    }
}
</script>

<style scoped>
.badge {
  background-color: #ccc;
  color: #444444;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.fitness {
  background-color: #D885A3;
  color: white;
}

.street {
  background-color: #7897AB;
  color: white;
}

.third {
  background-color: #655D8A;
  color: white;
}
</style>